@{
    ViewBag.Title = "DatosPersonales";
}

<h2>Datos Personales del Postulante</h2>

        <div class="row">
                   
                    @Html.Partial("~/Views/Modulos/_ListarDatosPersoanales.cshtml")

        </div>
