@{
    ViewBag.Title = "EstudiosFormales";
}

<h2>Estudios Formales del Postulante</h2>

        <div class="row">
                   
                    @Html.Partial("~/Views/Modulos/_ListarDatosPersonales.cshtml")

        </div>
