@{
    ViewBag.Title = "DatosPersonales";
}

<h2>Accedio a la sección de Datos Personales</h2>

        <div class="row">
                   
                    @Html.Partial("~/Views/Modulos/_ListarModulos.cshtml")

        </div>
